:root {
  --grey-color: #efefef;
  --black-color: #13132d;
  --span-text-color: #a5a6cf;
  --main-color: #6665dd;
}
::selection {
  color: var(--grey-color);
  background-color: var(--span-text-color);
}
html,
body {
  background-color: var(--black-color);
  padding: 0;
  margin: 0;
  font-family: "Fira Code", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #efefef;
}

h1::selection {
  color: #13132d;
}

span {
  color: var(--span-text-color);
  font-size: 2em;
}

* {
  box-sizing: border-box;
}
